body {
    background-image: url(ocean.gif);
    background-repeat: no-repeat;
    background: cover;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#bordure {
  background: black;
  width: 90%;
  height: 100%;

}
/*barre de navigation*/
.barre {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    height: 100px;
    background: linear-gradient(#0042a5, #00132e);
}
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute; left: 7%;
    z-index: 0;
    width: 53%;
}
.ruby {
    margin-top: 10px;
    width: 120px;
    height: 80px;
    z-index: 0;
}
.rubystar {
    margin-top: 15px;
    width: 50%;
    height: 40px;
    z-index: 0;
}
#menu {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute; right: 12%;
    z-index: 1;
}
#menu li{
    display: inline;
    justify-content:space-evenly;
    align-items:center;
    word-spacing: 55px;
    z-index: 1;
}

.mot {
    font-family: eras itc;
    font-size:22px;
    color: white;
    text-decoration: none;
    display: inline;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    z-index: 1;
}
/*barre de recherche*/
.recherche {
  margin-top: 70px;
  display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute; right: 5%;
    z-index: 0;
    height: 5px;
    
}
/*Effet barre de recherche*/


.flexbox {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  margin: 35px;
}

.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px #0091c2);
}

.search > div::after {
  content: "";
  background: white;
  width: 4px;
  height: 10px;
  position: absolute;
  top: 28px;
  right: -5px;
  transform: rotate(135deg);
}

.search > div > input {
  color: white;
  font-size: 16px;
  background: transparent;
  width: 5px;
  height: 5px;
  padding: 10px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 250px;
}
/*_________________________________________________________________________*/
/*Accès albums*/
#live {
    margin-left: 5%;
    font-family: eras itc;
    font-size: 32px;
    color: white;

}
.liste_concerts {
    justify-content: center;
    margin-left: 5%;
    word-spacing: 15px;
    font-family: eras itc;
    font-size: 25px;
    color: white;
    line-height: 52px;
}
ul {
    list-style: none;
}
#traits {
    margin-top: -44px;
}

.tickets {
    background: linear-gradient(red, rgb(73, 0, 0));
    border-radius: 30px;
    border: 1px solid transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: eras itc;
    font-size: 21px;
    width: 125px;
    height: 37px;
}
.tickets:hover {
    border: 1px solid greenyellow;
}

/*___________________________________________________________________________*/
/*liens sociaux*/
.liens_sociaux {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 290px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    flex-wrap: nowrap;
  }
  h4 {
    font-family: eras itc;
    font-size: 30px;
    font-weight: bold;
    color: #00E5FF;
    margin-left: 50px;
    margin-bottom: 10px;
    text-align: left;
  }
  h5 {
    font-family: eras itc;
    font-size: 30px;
    font-weight: bold;
    color: #00E5FF;
    margin-left: 80px;
    margin-bottom: 10px;
    text-align: left;
  }
  .liens_sociaux #twitter {
    margin-left: 1%;
    width: 95%;
    border-radius: 5px;
  }
  .liens_sociaux #facebook {
    width: 91%;
    margin-left: 2%;
    border-radius: 5px;
  }
  /*footer*/
  .footer {
    flex-wrap: nowrap;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 90%;
      height: 100px;
      background:linear-gradient(#0042a5, #00132e); 
  }
  .footer p {
    font-family: eras itc;
    font-size: 15px;
    font-weight: lighter;
    color: #00E5FF;
    margin-top: 3%;
    margin-right: 65%;
  }
  .liens {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2%;
      position: absolute; left: 50%;
      text-align: center;
  }
  .footer li {
      display: inline;
      justify-content:space-between;
      align-items:center;
  }
  .liens .facebook {
    width: 5%;
    height: 5%;
  }
  .liens .twitter {
    width: 5%;
    height: 5%;
  }
  .liens .youtube {
    width: 5%;
    height: 5%;
  }
  .liens .instagram {
    width: 5%;
    height: 5%;
  }
  .liens .soundcloud {
    width: 5%;
    height: 5%;
  }
  .liens .e-mail {
    width: 5%;
    height: 5%;
  }
  /*Media query Liens sociaux*/
  @media screen and (max-width: 1020px ) {
    .liens_sociaux {
      display:inherit;
    }
  }
  /*________________________________________________________*/
  /*media query menu burger*/
  
  .hamburger {
    display: none;
    z-index: 3;
  }
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    margin-left: 700%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(238, 255, 0);
    z-index: 3;
  }
  .mot:hover{
    box-shadow: 1px 0px 10px 3px #7bff00;
    border-radius: 5px;
  }
  @media only screen and (max-width: 685px) {
      .groupe { 
          grid-template-columns: none;
      }
      .image {
          border-radius: 158px;
      }
  }
  @media only screen and (max-width: 770px) {
    #menu {
      top: 105px;
      left: -100%;
      flex-direction: column;
      background: linear-gradient(#0042a5, #00132e);
      width: 150px;
      height: 110px;
      border-radius: 5px;
      text-align: center;
      transition: 0.3s;
      box-shadow: 1px 0px 2px 3px rgb(102, 255, 0);
      z-index: 3;
    }
    #menu.active {
      top: 105px;
      left: -30px;
    }
    .mot {
      margin: 5rem 0;
    }
    .hamburger {
      display: block;
      cursor:pointer;
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  /*Media queries texte sideshow*/
  @media screen and (max-width: 870px ) {
    .content-txt{
      position: absolute; top: 5%;
      width: 100%;
    }
    .content-txt h1 {
    font-size: 18px;
    }
    .content-txt h2 {
      font-size: 18px;
    }
    .content-txt p {
      font-size: 15px;
      color: gold;
      text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 40px #0ff,
      0 0 80px #0ff,
      0 0 90px #0ff,
      0 0 100px #0ff,
      0 0 150px #0ff;
    }
    .content-txt .second {
      text-shadow: none;
      width: auto;
      font-size: 18px;
      line-height: 17px;
    }
    .content-txt .second br {
      display: none;
    }
    .search > div > input {
      background: linear-gradient(#0042a5, #00132e);
    }
    
  }
  